@charset "UTF-8";
.Footer_solFooter__h_NvK{
    font-size:1rem;
    margin-top:5rem;
    padding:5rem 0;
    background-color:#000508;
    color:#fff;
    background-image:radial-gradient(farthest-corner at bottom right,#3a233f,transparent 250px);
    border:1px solid #141414;
    border-radius:12px 12px 0 0
}
@media(min-width:768px){
    .Footer_solFooter__h_NvK{
        background-image:radial-gradient(farthest-side at bottom left,#271d3b,transparent 900px),radial-gradient(farthest-corner at bottom right,#3a233f,transparent 1000px)
    }
}
.Footer_solFooter__h_NvK a:not(.dropdown-item),.Footer_solFooter__h_NvK button{
    color:#848895
}
.Footer_solFooter__h_NvK a:not(.dropdown-item):hover,.Footer_solFooter__h_NvK button:hover{
    color:#fff
}
.Footer_solFooter__h_NvK ul a{
    padding:6px 0;
    display:inline-block
}
.Footer_solFooter__foundation__VPnWk{
    font-family:DSemi;
    margin-bottom:0;
    line-height:1
}
.Footer_solFooter__foundation-logo__ARoeV,.Footer_solFooter__social__yNYuu{
    margin-bottom:20px
}
.Footer_solFooter__social__yNYuu a{
    background:#848895;
    display:inline-flex;
    padding:5px;
    border-radius:50%
}
.Footer_solFooter__social__yNYuu a:hover{
    background:#fff
}
.Footer_solFooter__social__yNYuu a:not(:last-child){
    margin-right:10px
}
.Footer_solFooter__social__yNYuu a svg{
    fill:#111
}
.Footer_solFooter__copyright__GkZM7{
    color:#848895
}
.IndexHero_index-hero__J1AyL{
    overflow:hidden;
    margin-top:-70px
}
.IndexHero_index-hero__container___O5eF{
    position:relative;
    padding-top:190px;
    padding-bottom:120px
}
.IndexHero_index-hero__ring--small__5BG8i{
    position:absolute;
    z-index:-1;
    top:-500px;
    left:-900px;
    width:1200px;
    height:1200px
}
@media(min-width:768px){
    .IndexHero_index-hero__ring--small__5BG8i{
        top:-150px;
        left:-850px
    }
}
.IndexHero_index-hero__ring--small__5BG8i img{
    -o-object-fit:contain;
    object-fit:contain;
    -o-object-position:top;
    object-position:top
}
.IndexHero_index-hero__ring--large__3NbbP{
    position:absolute;
    z-index:-1;
    top:0;
    right:-1300px;
    width:1600px;
    height:1600px
}
@media(min-width:768px){
    .IndexHero_index-hero__ring--large__3NbbP{
        right:-1200px
    }
}
.IndexHero_index-hero__ring--large__3NbbP img{
    -o-object-fit:contain;
    object-fit:contain;
    -o-object-position:top;
    object-position:top
}
.IndexLogos_index-logos__F3FpH{
    position:relative;
    z-index:1
}
.IndexLogos_index-logos__heading___qKa2{
    font-size:1rem!important;
    letter-spacing:.05em!important;
    color:#618adc
}
.IndexLogos_index-logos__scroller__3erjW{
    max-width:700px;
    display:inline-flex;
    justify-content:center;
    flex-wrap:wrap
}
@media(min-width:1200px){
    .IndexLogos_index-logos__scroller__3erjW{
        max-width:none
    }
}
.IndexLogos_index-logos__scroller-item__ChJ2A{
    position:relative;
    aspect-ratio:16/9;
    margin:0 10px;
    height:40px
}
.IndexLogos_index-logos__scroller-item__ChJ2A img{
    -o-object-fit:contain;
    object-fit:contain
}
@media(min-width:600px){
    .IndexLogos_index-logos__scroller-item__ChJ2A{
        height:50px;
        margin:0 15px
    }
}
.slick-slider{
    box-sizing:border-box;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    -webkit-touch-callout:none;
    -khtml-user-select:none;
    touch-action:pan-y;
    -webkit-tap-highlight-color:transparent
}
.slick-list,.slick-slider{
    position:relative;
    display:block
}
.slick-list{
    overflow:hidden;
    margin:0;
    padding:0
}
.slick-list:focus{
    outline:none
}
.slick-list.dragging{
    cursor:pointer;
    cursor:hand
}
.slick-slider .slick-list,.slick-slider .slick-track{
    transform:translateZ(0)
}
.slick-track{
    position:relative;
    top:0;
    left:0;
    display:block;
    margin-left:auto;
    margin-right:auto
}
.slick-track:after,.slick-track:before{
    display:table;
    content:""
}
.slick-track:after{
    clear:both
}
.slick-loading .slick-track{
    visibility:hidden
}
.slick-slide{
    display:none;
    float:left;
    height:100%;
    min-height:1px
}
[dir=rtl] .slick-slide{
    float:right
}
.slick-slide img{
    display:block
}
.slick-slide.slick-loading img{
    display:none
}
.slick-slide.dragging img{
    pointer-events:none
}
.slick-initialized .slick-slide{
    display:block
}
.slick-loading .slick-slide{
    visibility:hidden
}
.slick-vertical .slick-slide{
    display:block;
    height:auto;
    border:1px solid transparent
}
.slick-arrow.slick-hidden{
    display:none
}
.slick-loading .slick-list{
    background:#fff url(/_next/static/media/ajax-loader.0b80f665.gif) 50% no-repeat
}
@font-face{
    font-family:slick;
    font-weight:400;
    font-style:normal;
    src:url(/_next/static/media/slick.25572f22.eot);
    src:url(/_next/static/media/slick.25572f22.eot?#iefix) format("embedded-opentype"),url(/_next/static/media/slick.653a4cbb.woff) format("woff"),url(/_next/static/media/slick.6aa1ee46.ttf) format("truetype"),url(/_next/static/media/slick.f895cfdf.svg#slick) format("svg")
}
.slick-next,.slick-prev{
    font-size:0;
    line-height:0;
    position:absolute;
    top:50%;
    display:block;
    width:20px;
    height:20px;
    padding:0;
    transform:translateY(-50%);
    cursor:pointer;
    border:none
}
.slick-next,.slick-next:focus,.slick-next:hover,.slick-prev,.slick-prev:focus,.slick-prev:hover{
    color:transparent;
    outline:none;
    background:transparent
}
.slick-next:focus:before,.slick-next:hover:before,.slick-prev:focus:before,.slick-prev:hover:before{
    opacity:1
}
.slick-next.slick-disabled:before,.slick-prev.slick-disabled:before{
    opacity:.25
}
.slick-next:before,.slick-prev:before{
    font-family:slick;
    font-size:20px;
    line-height:1;
    opacity:.75;
    color:#fff;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.slick-prev{
    left:-25px
}
[dir=rtl] .slick-prev{
    right:-25px;
    left:auto
}
.slick-prev:before{
    content:"←"
}
[dir=rtl] .slick-prev:before{
    content:"→"
}
.slick-next{
    right:-25px
}
[dir=rtl] .slick-next{
    right:auto;
    left:-25px
}
.slick-next:before{
    content:"→"
}
[dir=rtl] .slick-next:before{
    content:"←"
}
.slick-dotted.slick-slider{
    margin-bottom:30px
}
.slick-dots{
    position:absolute;
    bottom:-25px;
    display:block;
    width:100%;
    padding:0;
    margin:0;
    list-style:none;
    text-align:center
}
.slick-dots li{
    position:relative;
    display:inline-block;
    margin:0 5px;
    padding:0
}
.slick-dots li,.slick-dots li button{
    width:20px;
    height:20px;
    cursor:pointer
}
.slick-dots li button{
    font-size:0;
    line-height:0;
    display:block;
    padding:5px;
    color:transparent;
    border:0;
    outline:none;
    background:transparent
}
.slick-dots li button:focus,.slick-dots li button:hover{
    outline:none
}
.slick-dots li button:focus:before,.slick-dots li button:hover:before{
    opacity:1
}
.slick-dots li button:before{
    font-family:slick;
    font-size:6px;
    line-height:20px;
    position:absolute;
    top:0;
    left:0;
    width:20px;
    height:20px;
    content:"•";
    text-align:center;
    opacity:.25;
    color:#000;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.slick-dots li.slick-active button:before{
    opacity:.75;
    color:#000
}
.IndexNews_index-news__slider__1P8j5{
    background:#1b1622;
    border-radius:1rem;
    padding:2.5rem;
    margin:0 -20px
}
@media(min-width:576px){
    .IndexNews_index-news__slider__1P8j5{
        margin:0
    }
}
.IndexNews_index-news__slider__card__53SEC{
    display:flex!important;
    justify-content:space-between;
    align-items:center;
    color:#ccc;
    line-height:1.4
}
.IndexNews_index-news__slider__card__53SEC:hover{
    color:#ccc
}
.IndexNews_index-news__slider__card__img__oKHVb{
    display:none
}
@media(min-width:992px){
    .IndexNews_index-news__slider__card__img__oKHVb{
        display:block;
        position:relative;
        width:465px;
        height:300px
    }
}
.IndexNews_index-news__slider__card__img__oKHVb img{
    -o-object-fit:cover;
    object-fit:cover;
    border-radius:5px
}
.IndexNews_index-news__slider__card__body__ZQxR2{
    text-align:center
}
@media(min-width:992px){
    .IndexNews_index-news__slider__card__body__ZQxR2{
        width:50%
    }
}
.IndexNews_index-news__slider__card__body__ZQxR2 span{
    display:inline-block;
    color:#111;
    border-radius:15px;
    padding:3px 10px;
    font-size:.9rem;
    background-image:linear-gradient(90deg,#14f195,#80ecff 40.1%,#64a8f2 82.29%,#64a8f2)
}
.IndexNews_index-news__slider__card__body__ZQxR2 h2{
    text-wrap:balance
}
.IndexNews_index-news__6mZPu .slick-track{
    display:flex;
    align-items:center
}
.IndexNews_index-news__6mZPu .slick-dots li button:before{
    color:#eee
}
.IndexNews_index-news__6mZPu .slick-dots li.slick-active button:before{
    color:#fff
}
.IndexNews_index-news__6mZPu .slick-dots{
    bottom:-5rem
}
.IndexNews_index-news__6mZPu .slick-next,.IndexNews_index-news__6mZPu .slick-prev{
    stroke:#eee;
    stroke-width:1;
    width:50px;
    height:50px;
    opacity:.25
}
.IndexNews_index-news__6mZPu .slick-next:hover,.IndexNews_index-news__6mZPu .slick-prev:hover{
    opacity:1
}
.IndexNews_index-news__6mZPu .slick-prev{
    left:-2.75rem
}
@media(min-width:576px){
    .IndexNews_index-news__6mZPu .slick-prev{
        left:-6rem
    }
}
.IndexNews_index-news__6mZPu .slick-next{
    right:-2.75rem
}
@media(min-width:576px){
    .IndexNews_index-news__6mZPu .slick-next{
        right:-6rem
    }
}
.IndexStats_index-stats__2PZZD{
    position:relative;
    overflow:hidden;
    padding:125px 0
}
.IndexStats_index-stats__ff-mono__FXeBH{
    font-family:DSemi,monospace
}
.IndexStats_index-stats__2PZZD:after{
    content:"";
    position:absolute;
    top:0;
    width:100%;
    height:125px;
    background:linear-gradient(#000,transparent 80%)
}
.IndexStats_index-stats__heading__4V50Y{
    text-wrap:balance
}
.IndexStats_index-stats__glow-lines__mHtu7{
    position:absolute;
    z-index:-1;
    width:100%;
    height:100%
}
@media(min-width:1400px){
    .IndexStats_index-stats__glow-lines__mHtu7{
        top:0
    }
}
.IndexStats_index-stats__glow-lines__mHtu7 img{
    -o-object-fit:cover;
    object-fit:cover
}
.IndexStats_index-stats__color__F8ess{
    font-weight:300;
    font-size:70px;
    line-height:120%
}
@media(min-width:768px){
    .IndexStats_index-stats__color__F8ess{
        font-size:50px
    }
}
.IndexStats_index-stats__color--purple__1dqEc{
    background:linear-gradient(101.11deg,#f087ff 14.47%,#6e1fce 39.43%,rgba(110,31,206,.1) 76.77%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip:text
}
.IndexStats_index-stats__color--blue__ROe6J{
    background:linear-gradient(100.93deg,#1fcff1 15.61%,#234cb6 41.38%,rgba(35,76,182,.1) 79.94%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip:text
}
.IndexStats_index-stats__color--green__muO5N{
    background:linear-gradient(97.65deg,#19fb9b 11.36%,#199890 54.3%,#005f59 100.78%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip:text
}
.IndexStats_index-stats__color--red__muO5N{
    background:linear-gradient(97.65deg,#ee3742 11.36%,#ee8442 54.3%,#eedf42 100.78%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip:text
}
.IndexStats_index-stats__color__F8ess::-moz-selection{
    -webkit-text-fill-color:#111
}
.IndexStats_index-stats__color__F8ess::selection{
    -webkit-text-fill-color:#111
}
.IndexStats_index-stats__live__8xU7q{
    position:relative;
    line-height:1!important;
    padding-left:10px
}
.IndexStats_index-stats__live__8xU7q:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    height:5px;
    width:5px;
    border-radius:50%;
    background:#1fcff1
}
.IndexStats_index-stats__card__KX4VC{
    background:rgba(0,0,0,.4);
    border:1px solid #19161c;
    -webkit-backdrop-filter:blur(20px);
    backdrop-filter:blur(20px);
    border-radius:24px
}
@media(min-width:768px){
    .IndexStats_index-stats__card__KX4VC{
        border:0;
        background:rgba(0,0,0,.28)
    }
}
.IndexStats_index-stats__card__title__km6lq{
    border-left:2px solid;
    padding-left:15px
}
